body {
  background: #f6f6f6 url("https://raw.githubusercontent.com/pengwenbin7/pengwenbin7.github.io/master/static/css/gray.png") repeat scroll left top;
}

#table-of-contents {
  margin-bottom: 40px;
}
.outline-2 {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  padding: 0 40px;
}
.outline-2, .outline-3, .outline-4, .outline-5, .outline-6 {
  margin: 13px 0;
}

.outline-text-2, .outline-text-3, .outline-text-4, .outline-text-5, .outline-text-6 {
  text-indent: 2em;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}

p {
  line-height: 1.7;
}

li {
  text-indent: 0;
}

.section-number-2, .section-number-3, .section-number-4, .section-number-5, .section-number-5, .section-number-6 {
  margin-right: 1em;
}

.creator, .validation {
  display: none;
}

.ui.bulleted.list .list > .item::before, .ui.bulleted.list > .item::before, ul.ui.list li::before {
  content: "";
}
